*{
    margin: 0;
    padding: 0;
    background-color: #dde1e7;
}
.h1{
    font-family: monospace;
    color: teal;
    position: fixed;
    margin-left: 700px;
    margin-top: 20px;
    font-size: 35px;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    background-color: #dde1e7;
}

.neu1{
    height: 200px;
    width: 200px;
    background-color: #dde1e8;
    box-shadow: -3px -3px 7px #ffffff80, 3px 3px 5px  #00000060;
    border-radius: 20px;
}

.neu2{
    margin: 50px;
    height: 200px;
    width: 200px;
    background-color: #dde1e7;
    box-shadow: inset -3px -3px 7px #ffffff80, inset 3px 3px 5px  #00000060;
    border-radius: 20px;
}

.neu3{
    margin: 50px;
    height: 200px;
    width: 200px;
    background-color: #dde1e7;
    box-shadow: inset -3px -3px 7px #ffffff80, inset 3px 3px 5px #00000060;
    border-radius: 50%;
}

.neu4{
    margin: 50px;
    height: 200px;
    width: 200px;
    background-color: #dde1e7;
    box-shadow:  -3px -3px 7px #ffffff80, 3px 3px 5px #00000060;
    border-radius: 50%;
}

.neu5{
    height: 200px;
    width: 200px;
    background-color: #dde1e8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -3px -3px 7px #ffffff80, 3px 3px 5px #00000060;
    position: relative;
}

.neu5:after{
    content: '';
    position: absolute;
    height: 80%;
    width: 80%;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: inset -3px -3px 7px #ffffff80, inset 3px 3px 5px #00000060;
   
}

/*hover efects*/

.neu1:hover{
    height: 200px;
    width: 200px;
    background-color: #dde1e7;
    box-shadow: inset -3px -3px 7px #ffffff80, inset 3px 3px 5px  #00000060;
    border-radius: 20px;
}

.neu2:hover{
    height: 200px;
    width: 200px;
    background-color: #dde1e8;
    box-shadow: -3px -3px 7px #ffffff80, 3px 3px 5px  #00000060;
    border-radius: 20px;
}

.neu3:hover{
    height: 200px;
    width: 200px;
    background-color: #dde1e7;
    box-shadow:  -3px -3px 7px #ffffff80, 3px 3px 5px #00000060;
    border-radius: 50%;
}

.neu4:hover{
    height: 200px;
    width: 200px;
    background-color: #dde1e7;
    box-shadow: inset -3px -3px 7px #ffffff80, inset 3px 3px 5px #00000060;
    border-radius: 50%;
}